<template>
  <v-content class="bg">
    <v-container class="fill-height" fluid>
      <v-row align="center">
        <v-col sm="12" align="center">
          <img src="../assets/foodguard2.png" alt=""/>
        </v-col>
        <v-col sm="12" align="center" v-if="!currentUser">
          <v-btn class="v-btn v-btn--outlined mr-1" large style="border-color: #80cbc4; color: #80cbc4" to="/login">Zaloguj</v-btn>
          <v-btn class="v-btn v-btn--outlined ml-1" large style="border-color: #80cbc4; color: #80cbc4" to="/register">Zarejestruj
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>

	export default {
		name: 'home',
		methods: {
			logout() {
				this.$store.commit('logout');
				this.$router.push({path: '/login'});
			}
		},
		computed: {
			currentUser() {
				return this.$store.getters.currentUser
			}
		},
	}
</script>

<style scoped lang="scss">
  .bg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/bg3.jpg');
    background-position: center;
    height: 100vh;
  }

</style>
