<template>
    <v-content class="contentBody">
        <v-container>
            <v-row class="justify-center dateNav">
                <v-col cols="12" sm="12" md="4">
                    <v-card>
                        <v-card-text>
                            <v-menu
                                    ref="menu"
                                    v-model="menu"
                                    :close-on-content-click="false"
                                    :return-value.sync="date"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                            v-model="date"
                                            label="Wybierz date"
                                            prepend-icon="mdi-calendar-blank"
                                            readonly
                                            v-on="on"
                                            color="#80cbc4"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="date" no-title scrollable color="#80cbc4">
                                    <v-spacer></v-spacer>
                                    <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                                    <v-btn text color="primary" @click="changeDate() + $refs.menu.save(date)">OK</v-btn>
                                </v-date-picker>
                            </v-menu>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <v-data-table
                    :headers="headers"
                    :items="userMeals"
                    sort-by="calories"
                    class="elevation-1"
            >
                <template v-slot:top>
                    <v-toolbar flat color="white">
                        <v-toolbar-title>Moje posiłki</v-toolbar-title>
                        <v-divider
                                class="mx-4"
                                inset
                                vertical
                        ></v-divider>
                        <v-spacer></v-spacer>

                        <v-dialog v-model="editItemDialog" persistent max-width="400px">
                            <v-card>
                                <v-card-title class="headline">{{editMeal.name}}</v-card-title>
                                <v-card-text>
                                    <v-text-field v-model="editMeal.weight" label="Waga(g)"/>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="teal lighten-2" text @click="editItemDialog = false">Anuluj</v-btn>
                                    <v-btn color="teal lighten-2" text @click="editItem">Zatwierdź</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>

                        <v-dialog v-model="dialog" max-width="1000px">
                            <template v-slot:activator="{ on }">
                                <v-btn @click="getAllProducts" color="teal lighten-2" dark class="mb-2" v-on="on">
                                    Dodaj posiłek
                                </v-btn>
                            </template>
                            <v-card>
                                <v-card-title>
                                    <span class="headline">{{ formTitle }}</span>
                                </v-card-title>

                                <v-card-text>
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12" sm="6" md="4">
                                                <v-text-field
                                                        v-model="search"
                                                        label="Wyszukaj"
                                                        single-line
                                                        hide-details
                                                ></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12">
                                                <template>
                                                    <v-data-table
                                                            :headers="headers2"
                                                            :items="allProducts"
                                                            :items-per-page="5"
                                                            class="elevation-1"
                                                    >

                                                        <template v-slot:item.action="{ item }">
                                                            <v-icon
                                                                    small
                                                                    class="mr-2"
                                                                    @click="openWeightModal(item)"
                                                            >
                                                                mdi-plus-circle
                                                            </v-icon>
                                                        </template>

                                                    </v-data-table>
                                                </template>
                                            </v-col>

                                            <v-dialog v-model="weightDialog" persistent max-width="400px">
                                                <v-card>
                                                    <v-card-title class="headline">{{product.name}}</v-card-title>
                                                    <v-card-text>
                                                        <v-text-field v-model="meal.weight" label="Waga(g)"/>
                                                    </v-card-text>
                                                    <v-card-actions>
                                                        <v-spacer></v-spacer>
                                                        <v-btn color="teal lighten-2" text
                                                               @click="weightDialog = false">
                                                            Anuluj
                                                        </v-btn>
                                                        <v-btn color="teal lighten-2" text @click="addItem()">Zatwierdź
                                                        </v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-dialog>


                                        </v-row>
                                    </v-container>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="teal lighten-2" text @click="close">Anuluj</v-btn>
                                    <v-btn color="teal lighten-2" text @click="save">Dodaj</v-btn>
                                </v-card-actions>

                            </v-card>
                        </v-dialog>
                    </v-toolbar>
                </template>
                <template v-slot:item.action="{ item }">
                    <v-icon
                            small
                            class="mr-2"
                            @click="openEditItemDialog(item)"
                    >
                        mdi-square-edit-outline
                    </v-icon>
                    <v-icon
                            small
                            @click="deleteItem(item)"
                    >
                        mdi-delete
                    </v-icon>
                </template>
                <template v-slot:no-data>
                    Brak wyników do wyświetlenia
                </template>
            </v-data-table>




            <v-card class="mt-5">
                <v-card-title>Total</v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col>
                            <v-row>
                                <v-col sm="12" md="6">Kcal</v-col>
                                <v-col sm="12" md="6" class="text-right">{{this.totalKcal}} / {{currentUser.kcal}}
                                </v-col>
                            </v-row>
                            <v-progress-linear
                                    v-model="percentTotalKcal"
                                    color="deep-purple accent-4"
                                    style="pointer-events: none"

                            ></v-progress-linear>
                        </v-col>
                        <v-col>
                            <v-row>
                                <v-col sm="12" md="6">Fat</v-col>
                                <v-col sm="12" md="6" class="text-right">{{this.totalFat}} / {{currentUser.fat}}</v-col>
                            </v-row>
                            <v-progress-linear
                                    v-model="percentTotalFat"
                                    color="orange lighten-2"
                                    style="pointer-events: none"
                            ></v-progress-linear>
                        </v-col>
                        <v-col>
                            <v-row>
                                <v-col sm="12" md="6">Carbs</v-col>
                                <v-col sm="12" md="6" class="text-right">{{this.totalCarbs}} / {{currentUser.carbs}}
                                </v-col>
                            </v-row>
                            <v-progress-linear
                                    v-model="percentTotalCarbs"
                                    color="brown darken-1"
                                    style="pointer-events: none"
                            ></v-progress-linear>
                        </v-col>
                        <v-col>
                            <v-row>
                                <v-col sm="12" md="6">Protein</v-col>
                                <v-col sm="12" md="6" class="text-right">{{this.totalProtein}} /
                                    {{currentUser.protein}}
                                </v-col>
                            </v-row>
                            <v-progress-linear
                                    v-model="percentTotalProtein"
                                    color="blue-grey lighten-1"
                                    style="pointer-events: none"
                            ></v-progress-linear>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-container>

    </v-content>
</template>

<script>
    export default {

        name: "Meals",
        data: () => ({
            valueDeterminate: 1000,

            totalKcal: 0,
            percentTotalKcal: 0,
            totalFat: 0,
            percentTotalFat: 0,
            totalCarbs: 0,
            percentTotalCarbs: 0,
            totalProtein: 0,
            percentTotalProtein: 0,

            dialog: false,
            weightDialog: false,
            editItemDialog: false,

            headers: [
                {text: 'Id', value: 'id'},
                {text: 'Name', align: 'left', sortable: false, value: 'product.name',},
                {text: 'Kcal', value: 'kcal'},
                {text: 'Fat (g)', value: 'fat'},
                {text: 'Carbs (g)', value: 'carbs'},
                {text: 'Protein (g)', value: 'protein'},
                {text: 'Weight (g)', value: 'weight'},
                {text: 'Actions', value: 'action', sortable: false},
            ],
            headers2: [
                {text: 'Id', value: 'id'},
                {text: 'Name', align: 'left', sortable: false, value: 'name',},
                {text: 'Kcal', value: 'kcal'},
                {text: 'Fat (g)', value: 'fat'},
                {text: 'Carbs (g)', value: 'carbs'},
                {text: 'Protein (g)', value: 'protein'},
                {text: 'Weight (g)', value: 'weight'},
                {text: 'Actions', value: 'action', sortable: false},
            ],

            date: new Date().toISOString().substr(0, 10),
            menu: false,

            search: '',
            meal: {
                user_id: '',
                product_id: '',
                weight: 100,
                kcal: 1,
                protein: 1,
                carbs: 1,
                fat: 1,
                ate: ''
            },
            editMeal: {
                id: '',
                name: '',
                weight: '',
                fat: '',
                carbs: '',
                protein: ''
            },
            userMeals: [],
            allProducts: [],
            desserts: [],
            editedIndex: -1,
            defaultItem: {
                name: '',
                calories: 0,
                fat: 0,
                carbs: 0,
                protein: 0,
            },
            product: '',
            globalWeight: ''
        }),


        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Nowy posiłek' : 'Edit Item'
            },
            currentUser() {
                return this.$store.getters.currentUser
            }
        },

        watch: {
            dialog(val) {
                val || this.close()
            },
        },

        created() {
            this.getProducts(this.date);
        },

        methods: {

            openWeightModal(item) {
                this.weightDialog = true;
                this.product = item;
            },

            openEditItemDialog(item) {
                this.editMeal.name = item.product.name;
                this.editMeal.id = item.id;
                this.editMeal.weight = item.weight;
                this.editMeal.kcal = item.product.kcal;
                this.editMeal.fat = item.product.fat;
                this.editMeal.carbs = item.product.carbs;
                this.editMeal.protein = item.product.protein;
                this.globalWeight = item.product.weight
                this.editItemDialog = true;
            },

            editItem() {
                this.editMeal.kcal = this.editMeal.weight * this.editMeal.kcal / this.globalWeight;
                this.editMeal.fat = this.editMeal.weight * this.editMeal.fat / this.globalWeight;
                this.editMeal.carbs = this.editMeal.weight * this.editMeal.carbs / this.globalWeight;
                this.editMeal.protein = this.editMeal.weight * this.editMeal.protein / this.globalWeight;

                axios.put(`user_products/${this.editMeal.id}`, this.editMeal)
                    .then(() => {
                        this.getProducts(this.date);
                        this.editItemDialog = false;
                    })
            },

            addItem() {
                //const index = this.userMeals.indexOf(item);
                this.meal.user_id = this.currentUser.user_id;
                this.meal.product_id = this.product.id;
                this.meal.ate = this.date;

                //meal calculation
                this.meal.kcal = (this.meal.weight * this.product.kcal) / this.product.weight
                this.meal.fat = (this.meal.weight * this.product.fat) / this.product.weight
                this.meal.carbs = (this.meal.weight * this.product.carbs) / this.product.weight
                this.meal.protein = (this.meal.weight * this.product.protein) / this.product.weight

                console.log(this.meal)
                axios.post(`user_products`, this.meal)
                    .then(() => {
                        console.log('xxx')
                        this.userMeals = [];
                        this.getProducts(this.date);
                        this.close()
                        this.weightDialog = false;
                        this.meal.weight = 100;
                    }).catch(err => console.log(err))
            },

            changeDate() {
                this.getProducts(this.date)
            },

            getProducts(date) {
                console.log(date)
                axios.get(`user/${this.currentUser.user_id}/user_products?day=${date}`)
                    .then(res => {
                        console.log(date)
                        this.userMeals = res.data.data;
                        this.totalKcal = res.data.totalKcal;
                        this.totalFat = res.data.totalFat;
                        this.totalProtein = res.data.totalProtein;
                        this.totalCarbs = res.data.totalCarbs;

                        this.totalKcal = Math.round(this.totalKcal)
                        this.totalFat = Math.round(this.totalFat)
                        this.totalProtein = Math.round(this.totalProtein)
                        this.totalCarbs = Math.round(this.totalCarbs)
                        this.percentTotalKcal = this.totalKcal * 100 / this.currentUser.kcal;
                        this.percentTotalFat = this.totalFat * 100 / this.currentUser.fat;
                        this.percentTotalProtein = this.totalProtein * 100 / this.currentUser.protein;
                        this.percentTotalCarbs = this.totalCarbs * 100 / this.currentUser.carbs;
                    })
            },
            getAllProducts() {
                axios.get(`products`)
                    .then(res => {
                        this.allProducts = res.data;
                    })
            },

            deleteItem(item) {
                const index = this.userMeals.indexOf(item);
                axios.delete(`user_products/${item.id}`)
                    .then(() => {
                        //this.userMeals.splice(index, 1)
                        this.getProducts(this.date)
                    })
            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save() {
                if (this.editedIndex > -1) {
                    Object.assign(this.desserts[this.editedIndex], this.editedItem)
                } else {
                    this.desserts.push(this.editedItem)
                }
                this.close()
            },
        },
    }
</script>

<style scoped lang="scss">
    .contentBody {
        /*background-color: #44807A ;*/
        height: 100%;
        min-height: 100vh;
        width: 100%;
        background: linear-gradient(rgba(68, 128, 122, 0.63), rgba(0, 0, 0, 0.7)), url('../assets/bg2.jpg');
        .cursor-pointer {
            cursor: pointer;
        }
    }
</style>
