<template>
    <v-content class="contentBody">
        <v-container>
            <v-row class="justify-center dateNav">
                <v-data-table
                        :headers="headers"
                        :items="products"
                        sort-by="calories"
                        class="elevation-1"
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Lista produktów</v-toolbar-title>
                            <v-divider
                                    class="mx-4"
                                    inset
                                    vertical
                            ></v-divider>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="editItemDialog" persistent max-width="400px">
                                <v-card>
                                    <v-card-title class="headline">{{editProduct.name}}</v-card-title>
                                    <v-card-text>
                                        <v-text-field
                                                type="text"
                                                label="Nazwa"
                                                v-model.trim="editProduct.name"
                                        >
                                        </v-text-field>
                                        <v-text-field
                                                type="number"
                                                label="Waga"
                                                v-model.trim="editProduct.weight"
                                        >
                                        </v-text-field>
                                        <v-text-field
                                                type="number"
                                                label="Kcal"
                                                v-model.trim="editProduct.kcal"
                                        >
                                        </v-text-field>
                                        <v-text-field
                                                type="number"
                                                label="Tłuszcze"
                                                v-model.trim="editProduct.fat"
                                        >
                                        </v-text-field>
                                        <v-text-field
                                                type="number"
                                                label="Węglowodany"
                                                v-model.trim="editProduct.carbs"
                                        >
                                        </v-text-field>
                                        <v-text-field
                                                type="number"
                                                label="Białka"
                                                v-model.trim="editProduct.protein"
                                        >
                                        </v-text-field>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="teal lighten-2" style="color: white" text @click="editItemDialog = false">Anuluj
                                        </v-btn>
                                        <v-btn color="teal lighten-2" style="color: white" text @click="editItem">Zatwierdź</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>

                            <v-dialog v-model="dialog" max-width="500">
                                <template v-slot:activator="{ on }">
                                    <v-btn color="teal lighten-2" dark class="mb-2" v-on="on" style="color: white">
                                        Dodaj produkt
                                    </v-btn>
                                </template>
                                <v-card>
                                    <v-card-text>
                                        <v-form @submit.prevent="add(product)">
                                            <v-text-field
                                                    type="text"
                                                    label="Nazwa"
                                                    v-model.trim="product.name"
                                            >
                                            </v-text-field>
                                            <v-text-field
                                                    type="number"
                                                    label="Waga"
                                                    v-model.trim="product.weight"
                                            >
                                            </v-text-field>
                                            <v-text-field
                                                    type="number"
                                                    label="Kcal"
                                                    v-model.trim="product.kcal"
                                            >
                                            </v-text-field>
                                            <v-text-field
                                                    type="number"
                                                    label="Tłuszcze"
                                                    v-model.trim="product.fat"
                                            >
                                            </v-text-field>
                                            <v-text-field
                                                    type="number"
                                                    label="Węglowodany"
                                                    v-model.trim="product.carbs"
                                            >
                                            </v-text-field>
                                            <v-text-field
                                                    type="number"
                                                    label="Białka"
                                                    v-model.trim="product.protein"
                                            >
                                            </v-text-field>
                                            <v-card-actions class="justify-center">
                                                <v-btn type="submit" color="teal lighten-2" style="color: white">Dodaj produkt</v-btn>
                                            </v-card-actions>

                                        </v-form>
                                    </v-card-text>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                        <v-col class="mb-5" cols="12" sm="6" md="8">
                            <v-text-field
                                    v-model="search"
                                    label="Wyszukaj"
                                    single-line
                                    hide-details
                            ></v-text-field>
                        </v-col>
                    </template>

                    <template v-slot:item.action="{ item }">
                        <v-icon
                                small
                                class="mr-2"
                                @click="openEditItemDialog(item)"
                        >
                            mdi-square-edit-outline
                        </v-icon>
                        <v-icon
                                small
                                @click="deleteItem(item)"
                        >
                            mdi-delete
                        </v-icon>
                    </template>

                </v-data-table>
            </v-row>
        </v-container>
    </v-content>
</template>


<script>
    export default {
        name: "ProductPanel",
        data() {
            return {
                product: {
                    name: '',
                    kcal: '',
                    fat: '',
                    protein: '',
                    carbs: '',
                    weight: '',
                },
                editProduct: {
                    id: '',
                    name: '',
                    weight: '',
                    fat: '',
                    carbs: '',
                    protein: ''
                },
                dialog: false,
                editItemDialog: false,
                products: [],
                headers: [
                    {text: 'Id', value: 'id'},
                    {text: 'Name', align: 'left', sortable: false, value: 'name',},
                    {text: 'Kcal', value: 'kcal'},
                    {text: 'Fat (g)', value: 'fat'},
                    {text: 'Carbs (g)', value: 'carbs'},
                    {text: 'Protein (g)', value: 'protein'},
                    {text: 'Weight (g)', value: 'weight'},
                    {text: 'Actions', value: 'action', sortable: false},
                ]
            }
        },
        methods: {
            openEditItemDialog(item) {
                console.log(item)
                this.editProduct.name = item.name;
                this.editProduct.id = item.id;
                this.editProduct.weight = item.weight;
                this.editProduct.kcal = item.kcal;
                this.editProduct.fat = item.fat;
                this.editProduct.carbs = item.carbs;
                this.editProduct.protein = item.protein;
                this.editItemDialog = true;

            },
            editItem() {
                axios.put(`products/${this.editProduct.id}`, this.editProduct)
                    .then(() => {
                        this.editItemDialog = false;
                        this.getProducts();
                    })
            },
            add(product) {
                axios.post('products', product)
                    .then()
                    .catch(err => console.log(err))
            },
            deleteItem(item) {
                axios.delete(`products/${item.id}`)
                    .then(() => {
                        this.getProducts()
                    })
            },
            getProducts() {
                axios.get('products')
                    .then(res => {
                        this.products = res.data
                        console.log(this.products)
                    })
            }
        },
        created() {
            this.getProducts()
        }
    }
</script>

<style scoped>
    .contentBody {
        /*background-color: #44807A ;*/
        height: 100%;
        min-height: 100vh;
        width: 100%;
        background: linear-gradient(rgba(68, 128, 122, 0.63), rgba(0, 0, 0, 0.7)), url('../assets/bg2.jpg');

    .cursor-pointer {
        cursor: pointer;
    }

    }
</style>