<template>
  <v-app id="inspire">
    <v-navigation-drawer
        v-model="drawer"
        app
        color="teal lighten-2"
        v-if="currentUser"
    >
      <v-list dense>
        <v-list-item @click="" to="/">
          <v-list-item-action>
            <v-icon color="white">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="color-white">Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item @click="" to="/meals" v-if="currentUser">
          <v-list-item-action>
            <v-icon color="white">mdi-food</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="color-white">Posiłki</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item @click="" to="/productPanel" v-if="currentUser.role === 'Admin'">
          <v-list-item-action>
            <v-icon color="white">mdi-shape-polygon-plus</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="color-white">Panel Produktów</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-navigation-drawer
            v-model="drawer"
            app
            color="teal lighten-2"
            v-if="!currentUser"
    >
      <v-list dense>
        <v-list-item @click="" to="/">
          <v-list-item-action>
            <v-icon color="white">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="color-white">Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item @click="" to="/login" v-if="!currentUser">
          <v-list-item-action>
            <v-icon color="white">mdi-login</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="color-white">Zaloguj</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item @click="" to="/register" v-if="!currentUser">
          <v-list-item-action>
            <v-icon color="white">mdi-account-plus</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="color-white">Rejestracja</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list>
    </v-navigation-drawer>

    <v-app-bar
        app
        :collapse="!collapseOnScroll"
        :collapse-on-scroll="collapseOnScroll"
        absolute
        color="teal lighten-3"
        dark
        scroll-target="#scrolling-techniques-6"
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

      <div class="d-flex col-sm-12 justify-space-between">
        <v-toolbar-title>Food Guard</v-toolbar-title>
        <v-toolbar-title class="mr-5" v-if="currentUser">
          <button @click.prevent="logout">Wyloguj</button>
        </v-toolbar-title>
      </div>

      <v-spacer></v-spacer>

    </v-app-bar>
    <v-sheet
        id="scrolling-techniques-6"
        class="overflow-y-auto"
        max-height="100vh"
        max-width="100vw"
    >

        <router-view></router-view>
    </v-sheet>

<!--    <v-footer color="teal lighten-3" app>
      <span class="white&#45;&#45;text">2019 &copy; Bartosz Stachowski</span>
    </v-footer>-->

  </v-app>
</template>

<script>

	export default {

		data: () => ({
			drawer: false,
			collapseOnScroll: true,

		}),
		methods: {
			logout() {
				this.$store.commit('logout');
				this.$router.push({path: '/'});
			}
		},

		computed: {
			currentUser() {
				return this.$store.getters.currentUser
			}
		},
	}
</script>

<style scoped lang="scss">
  .color-white {
    color: white !important;
  }
</style>
