<template>
  <v-content class="contentBody">
    <v-container>
      <v-row justify="center">
        <v-col sm="12" md="4">
          <v-card>
            <v-card-title>Logowanie</v-card-title>
            <v-card-text>
              <v-form @submit.prevent="authenticate">
                <v-text-field
                        type="email"
                        label="E-mail"
                        v-model="form.email"
                        required
                >
                </v-text-field>
                <v-text-field
                        type="password"
                        label="Password"
                        v-model="form.password"
                        required
                >
                </v-text-field>
                <v-btn type="submit" color="#80cbc4" style="color: white">Zaloguj</v-btn>
              </v-form>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>

	import {login} from "../../helpers/auth";


	export default {
		data() {
			return {
				form: {
					email: '',
					password: ''
				},
				error: null,
				errorInfo: '',
				loader: null,
				loading: false,
				alertStatus: false,
			}

		},

		components: {},

		watch: {
			loader() {
				const l = this.loader
				this[l] = !this[l]

				setTimeout(() => (this[l] = false), 3000)

				this.loader = null
			}
		},
        computed: {
            currentUser() {
                return this.$store.getters.currentUser
            }
        },
		methods: {
			authenticate() {
				this.$store.dispatch('login');

				login(this.$data.form)
						.then((res) => {
						    console.log('xd')
							this.$store.commit("loginSuccess", res);
							this.$router.push({path: '/'});

						})
						.catch((error) => {
							this.alertStatus = true;
							this.errorInfo = 'Invalid login or password.'
							this.$store.commit("loginFailed", {error});
						})
			},

		},
	}
</script>


<style scoped>
  .contentBody {
    /*background-color: #44807A ;*/
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(68, 128, 122, 0.63), rgba(0, 0, 0, 0.7)), url('../../assets/bg2.jpg');
  }
</style>
