<template>
    <v-content class="contentBody">
        <v-container>
            <v-row justify="center">
                <v-col md="4" sm="12">
                    <v-card>
                        <v-card-title>Rejestracja</v-card-title>
                        <v-card-text>
                            <v-form @submit.prevent="register(user)">
                                <v-text-field
                                        type="email"
                                        label="E-mail"
                                        v-model="user.email"
                                        :error-messages="emailErrors"
                                        required
                                        @input="$v.user.email.$touch()"
                                        @blur="$v.user.email.$touch()"

                                >
                                </v-text-field>
                                <v-text-field
                                        type="password"
                                        label="Hasło"
                                        v-model="user.password"
                                        :error-messages="passwordError"
                                        required
                                        @input="$v.user.password.$touch()"
                                        @blur="$v.user.password.$touch()"
                                >
                                </v-text-field>

                                <v-text-field
                                        type="password"
                                        label="Powtórz hasło"
                                        v-model="user.confirmPassword"
                                        :error-messages="confirmPasswordError"
                                        required
                                        @input="$v.user.confirmPassword.$touch()"
                                        @blur="$v.user.confirmPassword.$touch()"
                                >
                                </v-text-field>

                                <v-text-field
                                        type="text"
                                        label="Waga"
                                        v-model="user.weight"
                                        v-on="control()"
                                        :error-messages="weightError"
                                        required
                                        @input="$v.user.weight.$touch()"
                                        @blur="$v.user.weight.$touch()"
                                >
                                </v-text-field>
                                <v-text-field
                                        type="text"
                                        label="Wzrost"
                                        v-model="user.height"
                                        :error-messages="heightError"
                                        required
                                        @input="$v.user.height.$touch()"
                                        @blur="$v.user.height.$touch()"
                                >
                                </v-text-field>
                                <v-select
                                        :items="sex"
                                        label="Płeć"
                                        v-model="user.sex"
                                        :error-messages="sexError"
                                        required
                                        @change="$v.user.sex.$touch()"
                                        @blur="$v.user.sex.$touch()"
                                ></v-select>


                                <v-select
                                        :items="age"
                                        label="Wiek"
                                        v-model="user.age"
                                        :error-messages="ageError"
                                        required
                                        @change="$v.user.age.$touch()"
                                        @blur="$v.user.age.$touch()"
                                ></v-select>
                                <v-text-field
                                        style="display: none;"
                                        type="text"
                                        label="Kalorie"
                                        v-model="user.kcal"
                                        value="12"
                                        disabled
                                >
                                </v-text-field>
                                <v-btn type="submit" color="#80cbc4" style="color: white">Utwórz konto</v-btn>
                            </v-form>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-content>
</template>

<script>
    import {validationMixin} from 'vuelidate'
    import {required, email, minLength, sameAs} from 'vuelidate/lib/validators'

    export default {
        name: "Register",
        mixins: [validationMixin],
        validations: {
            user: {
                email: {required, email},
                password: {required, minLength: minLength(3)},
                confirmPassword: {required, sameAsPassword: sameAs('password')},
                weight: {required},
                height: {required},
                sex: {required},
                age: required
            }
        },
        data() {
            return {
                menu: false,
                email: '',
                user: {
                    email: '',
                    password: '',
                    weight: '',
                    height: '',
                    kcal: '',
                    age: '',
                    sex: '',
                    role: '',
                },
                sex: ['Mężczyzna', 'Kobieta'],
                age: [
                    1, 2, 3, 4, 5, 6, 7, 8, 9,
                    10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
                    20, 21, 22, 23, 24, 25, 26, 27, 28, 29,
                    30, 31, 32, 33, 34, 35, 36, 37, 38, 39,
                    40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
                    50, 51, 52, 53, 54, 55, 56, 57, 58, 59,
                    60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
                    70, 71, 72, 73, 74, 75, 76, 77, 78, 79,
                    80, 81, 82, 83, 84, 85, 86, 87, 88, 89,
                    90, 91, 92, 93, 94, 95, 96, 97, 98, 99,
                    100
                ]
            }
        },
        computed: {
            emailErrors() {
                const errors = []
                if (!this.$v.user.email.$dirty) return errors
                !this.$v.user.email.email && errors.push('Podano zły adres email')
                !this.$v.user.email.required && errors.push('To pole jest wymagane')
                return errors
            },
            passwordError() {
                const errors = []
                if (!this.$v.user.password.$dirty) return errors
                !this.$v.user.password.minLength && errors.push('Minimalna długość to 3 znaki')
                !this.$v.user.password.required && errors.push('To pole jest wymagane')
                return errors
            },
            confirmPasswordError() {
                const errors = []
                if (!this.$v.user.confirmPassword.$dirty) return errors
                !this.$v.user.confirmPassword.sameAsPassword && errors.push('Pola się różnią')
                !this.$v.user.confirmPassword.required && errors.push('To pole jest wymagane')
                return errors
            },
            weightError() {
                const errors = []
                if (!this.$v.user.weight.$dirty) return errors
                !this.$v.user.weight.required && errors.push('To pole jest wymagane')
                return errors
            },
            heightError() {
                const errors = []
                if (!this.$v.user.height.$dirty) return errors
                !this.$v.user.height.required && errors.push('To pole jest wymagane')
                return errors
            },
            sexError() {
                const errors = []
                if (!this.$v.user.sex.$dirty) return errors
                !this.$v.user.sex && errors.push('To pole jest wymagane')
                return errors
            },
        },

        methods: {
            resetUser() {
                this.user = {
                    email: null,
                    password: null,
                    //password_confirmation: null,
                    weight: null,
                    height: null,
                    age: null
                }
            },

            control() {
                this.user.kcal = Math.floor((9.99 * this.user.weight) + (6.25 * this.user.height) - (4.92 * this.user.age) + 5);
            },

            register(user) {

                this.user.role = 'User'
                console.log(user)
                axios.post('register', user)
                    .then(res => {
                        console.log(res)
                    })
                    .catch(err => console.log(err))
            }
        },

        /*this.$validator.validate().then(result => {
      if (result) {
        axios.post('register', user)
            .then(response => {
              this.resetUser()
              this.$router.push({name: 'login'})
            })
      }
      else{
        this.alertStatus = true

      }*/


    }

</script>

<style scoped>
    .contentBody {
        /*background-color: #44807A ;*/
        height: 100%;
        min-height: 100vh;
        width: 100%;
        background: linear-gradient(rgba(68, 128, 122, 0.63), rgba(0, 0, 0, 0.7)), url('../../assets/bg2.jpg');
    }

    .cursor-pointer {
        cursor: pointer;
    }
</style>
